td.tc{text-align:end;font-family:verdana;padding-top:3px;vertical-align:top}
div.gt{float:left;font-weight:bold;padding:1px 4px;margin:0 2px 5px 2px;position:relative;border-radius:5px;border:1px solid #806769}
